.tab {
    display: block;
    text-decoration: none;
    margin: 0 10px;
    padding: 20px;
    background: rgb(255 255 255 / .3);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 200;
    transition: .4s all;
    text-transform: uppercase;
    min-width: 170px;
    text-align: center;
    margin-bottom: 10px;
}

.tab:hover {
    background: rgb(255 255 255 / .5);
}

.intro-wrapper {
    margin-bottom: 20px;
    padding: 0 20px;
}

.intro-text {
    font-size: 35px;
    text-align: center;
}