.active-tab {
    color: #FFFFFF !important;
}

.tab {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
    color: gray;
    font-weight: bold;
    transition: all .4s;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}

.tab:hover {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.navigation-panel {
    padding: 20px;
}