.skills-section {
    padding: 20px;
    background: rgb(255 255 255 / .3);
    margin: 0 10px 20px 10px;
    min-width: 185px;
}

.skills-header {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.skill {
    margin-bottom: 5px;
}

.skills-row {
    margin: 20px 0 0 0;
}

.contacts-wrapper {
    flex-wrap: nowrap;
}

.project {
    padding: 20px;
    background: rgb(255 255 255 / .3);
    flex-wrap: nowrap;
    max-width: 1000px;
    margin-bottom: 20px;
}

.projects-column {
    margin-top: 20px;
}

.project-name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.projects-icon {
    fill: #FFFFFF;
    height: 45px;
}

.tools-icon {
    fill: #FFFFFF;
    height: 25px;
    margin-right: 10px;
}

.projects-icon-wrapper {
    transition: .4s all;
    margin: 0 5px;
}

.projects-icon-wrapper:hover {
    transform: scale(1.1);
}

.project-pictures {
    width: 450px;
    margin: 10px 25px;
}

.text-and-pics {
    flex-wrap: nowrap;
    margin-top: 10px;
}

.portfolio-text {
    margin-bottom: 10px;
}

.slider-wrapper {
    margin-bottom: 15px;
}

.arrow-portfolio {
    transform: rotate(90deg);
}

@media only screen and (max-width: 1275px) {
    .text-and-pics {
        flex-wrap: wrap;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .project-pictures {
        display: none;
    }
}

@media only screen and (max-width: 489px) {
    .skills-section {
        padding: 10px 0px;
        background: rgb(255 255 255 / .3);
        margin: 0 5px 10px 5px;
        min-width: 160px;
        text-align: center;
    }

    .project {
        padding: 10px;
        margin-bottom: 10px;
    }

    .projects-column {
        margin-top: 10px;
    }
}