body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #1e4e6b;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

/* Flex Blocks */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-h {
  justify-content: center;
}

.row-v {
  align-items: center;
}

.row-between {
  justify-content: space-between;
}

.row-right {
  justify-content: flex-end;
}

.row-left {
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-h {
  align-items: center;
}

.column-v {
  justify-content: center;
}

.flex-one {
  flex: 1;
}

.outer-wrapper {
  justify-content: space-between;
  height: 100vh;
}

.content-wrapper {
  padding: 20px;
}

.contact-icon {
  height: 50px;
  fill: #ffffff;
  transition: all 0.4s;
}

.location-icon {
  height: 25px;
  fill: #ffffff;
  transition: all 0.4s;
}

.arrow-icon {
  height: 60px;
  fill: #ffffff;
  transition: all 0.4s;
}
